Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [ ]:
#importing all required libraries

In [169]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [170]:
driver=webdriver.Chrome(r"E:\DATA SCIENCE\chromedriver.exe")

In [171]:
url='https://www.bcci.tv/'

In [234]:
#making driver to call url

In [172]:
driver.get(url)

In [233]:
#clicking on the element and going inside the internation fixture

In [173]:
try:
       driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]').click()
except NoSuchElementException:
       pass

In [174]:
try:
    driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click()
except NoSuchElementException:
       pass

In [ ]:
#creating empty list and saving the details later

In [175]:
Title=[]
Series=[]
Place=[]
Date=[]

In [176]:
title=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']")

In [177]:
title[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="10871827-e188-4a91-82ef-2d42cd591f15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="f57978b4-96a9-43ed-8bd5-39f58f04c418")>]

In [178]:
for i in title:
    Title.append(i.text)

In [179]:
Title

['ODI',
 'ODI',
 'T20I',
 'T20I',
 'T20I',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST']

In [182]:
series=driver.find_elements_by_xpath("//div[@class='fixture__teams']")

In [183]:
for i in series:
    Series.append(i.text)

In [184]:
Series

['AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'AUSTRALIA\nv\nINDIA',
 'ENGLAND\nv\nINDIA',
 'ENGLAND\nv\nINDIA',
 'ENGLAND\nv\nINDIA',
 'ENGLAND\nv\nINDIA',
 'ENGLAND\nv\nINDIA']

In [185]:
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']")

In [186]:
place[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="019e4691-c16f-42f1-8908-9afbdb658fa7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="fa688e8a-68fa-40a3-bd64-2e338c134ab1")>]

In [187]:
for i in place:
    Place.append(i.text)

In [188]:
Place

['2nd ODI\nSydney Cricket Ground, Sydney',
 '3rd ODI\nManuka Oval, Canberra',
 '1st T20I\nManuka Oval, Canberra',
 '2nd T20I\nSydney Cricket Ground, Sydney',
 '3rd T20I\nSydney Cricket Ground, Sydney',
 '1st Test\nAdelaide Oval, Adelaide',
 '2nd Test\nMelbourne Cricket Ground, Melbourne',
 '3rd Test\nSydney Cricket Ground, Sydney',
 '4th Test\nBrisbane Cricket Ground, Brisbane',
 '1st Test\nTrent Bridge, Nottingham',
 "2nd Test\nLord's, London",
 '3rd Test\nHeadingley, Leeds',
 '4th Test\nThe Oval, London',
 '5th Test\nOld Trafford, Manchester']

In [212]:
date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")

In [213]:
date

[<selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="840cfe45-465d-4146-811c-ff534f9c9052")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="686e409a-b265-4ea5-83bf-c25be2950085")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="fcc3e1a0-742e-4479-85d7-ec9413f7e912")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="b53cf786-8926-4f24-a88e-aaf2bc583753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="c234e153-2df3-4c0a-8a03-5b500d8e988a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="ef140833-4c86-476c-8e46-0882b4dacdc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="277f4cd6-ea95-4f58-b217-4cc4e3afb937")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="3c25fc74-c800-4f97-a70a-e7962e885def")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="8f0dfd17-b273-4d81-b690-b501372f7a9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="3489cf91-50d8-47ea-a36e-71bfb9872740")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="e9be4203-e40b-4bc8-9fa3-9723322f0c33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="15d0bf15-d46c-447b-9d15-a17b352f87e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="b53ac63f-21f8-49dc-86c2-4a5c1079e126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c8d5ba4032120c268a0d5e7c83a8cba9", element="4baf3d88-4efb-4794-af1e-f044df91be02")>]

In [214]:
for i in date:
    Date.append(i.text)

In [215]:
Date

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Sunday 29th November 09:10 IST',
 'Wednesday 2nd December 09:10 IST',
 'Friday 4th December 13:40 IST',
 'Sunday 6th December 13:40 IST',
 'Tuesday 8th December 13:40 IST',
 'Thursday 17th December 09:30 IST',
 'Saturday 26th December 05:00 IST',
 'Thursday 7th January 05:00 IST',
 'Friday 15th January 05:30 IST',
 'Wednesday 4th August 15:30 IST',
 'Thursday 12th August 15:30 IST',
 'Wednesday 25th August 15:30 IST',
 'Thursday 2nd September 15:30 IST',
 'Friday 10th September 15:30 IST']

In [216]:
Date_time=Date[14:28]

In [217]:
Date_time

['Sunday 29th November 09:10 IST',
 'Wednesday 2nd December 09:10 IST',
 'Friday 4th December 13:40 IST',
 'Sunday 6th December 13:40 IST',
 'Tuesday 8th December 13:40 IST',
 'Thursday 17th December 09:30 IST',
 'Saturday 26th December 05:00 IST',
 'Thursday 7th January 05:00 IST',
 'Friday 15th January 05:30 IST',
 'Wednesday 4th August 15:30 IST',
 'Thursday 12th August 15:30 IST',
 'Wednesday 25th August 15:30 IST',
 'Thursday 2nd September 15:30 IST',
 'Friday 10th September 15:30 IST']

In [220]:
import pandas as pd

In [235]:
#saving the result in data frame.

In [224]:
df1=pd.DataFrame({})

In [231]:
df1['Title']=Title
df1['Series']=Series
df1['Place']=Place
df1['Date and Time']=Date_time

In [232]:
df1

,Title,Series,Place,Date and Time
0,ODI,AUSTRALIA\nv\nINDIA,"2nd ODI\nSydney Cricket Ground, Sydney",Sunday 29th November 09:10 IST
1,ODI,AUSTRALIA\nv\nINDIA,"3rd ODI\nManuka Oval, Canberra",Wednesday 2nd December 09:10 IST
2,T20I,AUSTRALIA\nv\nINDIA,"1st T20I\nManuka Oval, Canberra",Friday 4th December 13:40 IST
3,T20I,AUSTRALIA\nv\nINDIA,"2nd T20I\nSydney Cricket Ground, Sydney",Sunday 6th December 13:40 IST
4,T20I,AUSTRALIA\nv\nINDIA,"3rd T20I\nSydney Cricket Ground, Sydney",Tuesday 8th December 13:40 IST
5,TEST,AUSTRALIA\nv\nINDIA,"1st Test\nAdelaide Oval, Adelaide",Thursday 17th December 09:30 IST
6,TEST,AUSTRALIA\nv\nINDIA,"2nd Test\nMelbourne Cricket Ground, Melbourne",Saturday 26th December 05:00 IST
7,TEST,AUSTRALIA\nv\nINDIA,"3rd Test\nSydney Cricket Ground, Sydney",Thursday 7th January 05:00 IST
8,TEST,AUSTRALIA\nv\nINDIA,"4th Test\nBrisbane Cricket Ground, Brisbane",Friday 15th January 05:30 IST
9,TEST,ENGLAND\nv\nINDIA,"1st Test\nTrent Bridge, Nottingham",Wednesday 4th August 15:30 IST
10,TEST,ENGLAND\nv\nINDIA,"2nd Test\nLord's, London",Thursday 12th August 15:30 IST
11,TEST,ENGLAND\nv\nINDIA,"3rd Test\nHeadingley, Leeds",Wednesday 25th August 15:30 IST
12,TEST,ENGLAND\nv\nINDIA,"4th Test\nThe Oval, London",Thursday 2nd September 15:30 IST
13,TEST,ENGLAND\nv\nINDIA,"5th Test\nOld Trafford, Manchester",Friday 10th September 15:30 IST