Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [1]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [2]:
url='https://archive.ics.uci.edu/ml/index.php'

In [3]:
driver=webdriver.Chrome(r"E:\DATA SCIENCE\chromedriver.exe")

In [4]:
driver.get(url)

In [5]:
try:
        driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a').click()
except NoSuchElementException:
       pass

In [6]:
import bs4
from bs4 import BeautifulSoup

In [7]:
import requests

In [8]:
url='https://archive.ics.uci.edu/ml/datasets.php'

In [9]:
page=requests.get(url)
page

In [10]:
soup=BeautifulSoup(page.content,'html.parser')

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

In [19]:
data=soup.find_all('table')[5]

In [20]:
import pandas as pd

In [23]:
df=pd.read_html(str(data),header=0)[0]

In [24]:
df

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177.0,8.0,1995.0
1,Adult,Multivariate,Classification,"Categorical, Integer",48842.0,14.0,1996.0
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798.0,38.0,NaN
3,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711.0,294.0,1998.0
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452.0,279.0,1998.0
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,NaN,Regression,Integer,NaN,NaN,2020.0
555,Guitar Chords finger positions,Text,Classification,NaN,2633.0,5.0,2020.0
556,Russian Corpus of Biographical Texts,Text,Classification,NaN,200.0,2.0,2020.0
557,Codon usage,Multivariate,"Classification, Clustering",NaN,13028.0,69.0,2020.0
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800.0,9.0,2020.0

In [25]:
df.to_csv('ucirepos.csv')