# Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages

In [25]:
import selenium
from selenium import webdriver

In [26]:
driver=webdriver.Chrome(r'G:\DATA SCIENCE\chromedriver.exe')

In [41]:
url='https://www.monsterindia.com/srp/results?query=Software%20Development&searchId=cb69c535-8966-4f5a-bdce-bff217c299bc'

In [42]:
driver.get(url)

In [43]:
titles=[]

In [68]:
title=driver.find_elements_by_xpath("//h3[@class='medium']")

In [69]:
title[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d38eb86508ae27be87e845b263d81f7a", element="f53955ee-d083-4279-8cff-db2062111983")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d38eb86508ae27be87e845b263d81f7a", element="7b5252ff-406e-4884-8941-74f1d875bac7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d38eb86508ae27be87e845b263d81f7a", element="059141a3-11d0-4507-b92b-432e42283e13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d38eb86508ae27be87e845b263d81f7a", element="98e553c4-cd33-4da1-a3a1-6be44b304b3e")>]

In [70]:
len(title)

25

In [71]:
for i in title:
    titles.append(i.text)

In [72]:
len(titles)

125

In [79]:
#below is the scrapped data from monsterindia.com website for software devlopment profile

In [74]:
import pandas as pd

In [75]:
df=pd.DataFrame({})

In [76]:
df['JOB TITLES']=titles

In [77]:
df

                                           JOB TITLES
0       Test Engineer with UI Development Back ground
1                                         Senior SDET
2                             Senior Quality Engineer
3                     .NET Azure Full stack Developer
4                       Manager - Partner Engineering
..                                                ...
120                       Associate Software Engineer
121  Hiring for Software Development Role - Bangalore
122   Software Developers (B.Tech/ M.Tech – Freshers)
123                   Senior Developer cloud platform
124           Job Opening for Heroku Developer in MNC

[125 rows x 1 columns]