# Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [8]:
#importing the useful libraries

In [4]:
import selenium
from selenium import webdriver

In [7]:
driver=webdriver.Chrome(r'D:\G\DATA SCIENCE\chromedriver.exe')

In [11]:
url='https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'

In [41]:
#will call the driver to get the url

In [12]:
driver.get(url)

In [13]:
company=[]

In [15]:
name=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']")

In [16]:
name[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="a56042cb-9ef7-4b9f-a9c9-7bf016d3b42b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="bea447de-8c24-4c17-9ea8-4e9ff1434b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="4a2f2275-05d1-4e85-8be6-e36382ce6e9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="33d4a961-9d65-4863-9190-0d0fc1434087")>]

In [17]:
for i in name:
    company.append(i.text)

In [19]:
company=company[0:10]
company

['DeepR Analytics',
 'Jubna',
 'RiseIn Technologies Pvt Ltd',
 'Biz2Credit Inc',
 'JONA LED',
 'Techlive',
 'Unyscape Infocom Pvt. Ltd',
 'EzappSolution',
 'Salasar New Age Technologies',
 'Ericsson']

In [38]:
#we will fetch the number of days ago the job was posted

In [20]:
days_posted=[]

In [22]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [23]:
days[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="d5e9c8ac-d902-40d9-a0bd-61a7f472653f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="0ec621ef-3ddf-4a38-a23a-8df6ce46c705")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="4bc682af-36b2-47c0-8980-57fd4be29395")>]

In [24]:
for i in days:
    days_posted.append(i.text)

In [25]:
days_posted=days_posted[0:10]

In [26]:
days_posted

['30d+', '24h', '30d+', '19d', '3d', '30d+', '5d', '22d', '30d+', '5d']

In [39]:
#now we will be fetching the ratings of each company

In [27]:
rating=[]

In [28]:
stars=driver.find_elements_by_xpath("//span[@class='compactStars ']")

In [29]:
stars[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="c6466aa1-9097-4cde-b4b7-f6aafa41683e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="0ef920f5-d66e-4018-b0c0-739af4ceb48e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b3dbc9a4fee379e2c8fc37a2042ce83", element="67d4bffe-5116-460f-a592-40bf73990f97")>]

In [31]:
for i in stars:
    rating.append(i.text)

In [32]:
rating=rating[0:10]
rating

['4.9', '3.1', '3.8', '5', '3.9', '5', '3.9', '3.9', '4.1', '4.8']

In [34]:
import pandas as pd

In [ ]:
#creating a data frame and storing the results

In [35]:
df=pd.DataFrame({})

In [36]:
df['company name']=company
df['days posted']=days_posted
df['Ratings']=rating

In [37]:
df

                   company name days posted Ratings
0               DeepR Analytics        30d+     4.9
1                         Jubna         24h     3.1
2   RiseIn Technologies Pvt Ltd        30d+     3.8
3                Biz2Credit Inc         19d       5
4                      JONA LED          3d     3.9
5                      Techlive        30d+       5
6     Unyscape Infocom Pvt. Ltd          5d     3.9
7                 EzappSolution         22d     3.9
8  Salasar New Age Technologies        30d+     4.1
9                      Ericsson          5d     4.8