# Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company

In [119]:
#importing all the useful libraries

In [120]:
import selenium
from selenium import webdriver

In [121]:
driver=webdriver.Chrome(r'D:\G\DATA SCIENCE\chromedriver.exe')

In [122]:
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm'

In [153]:
#making the driver to call the url

In [123]:
driver.get(url)

In [124]:
company=[]
min_sal=[]
max_sal=[]
avg_sal=[]

In [125]:
name=driver.find_elements_by_xpath("//p[@class='m-0']")

In [126]:
name[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="375eed9f-ff97-416d-a1dd-44e4cf0f8c16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="98dffe8e-42b9-481a-8c47-a576a820f4c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="5767ffe5-0e12-460a-b0fe-032b08424820")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="afe44009-2fb4-4cfa-a72d-355c3e3b4b61")>]

In [127]:
for i in name:
    company.append(i.text)

In [128]:
company

['Data Scientist',
 'Delhivery',
 'See 12 salaries from all locations',
 'Data Scientist',
 'Accenture',
 'See 28 salaries from all locations',
 'Data Scientist',
 'IBM',
 'See 59 salaries from all locations',
 'Data Scientist',
 'UnitedHealth Group',
 'See 12 salaries from all locations',
 'Data Scientist',
 'Cognizant Technology Solutions',
 'See 38 salaries from all locations',
 'Data Scientist',
 'Valiance Solutions',
 'See 9 salaries from all locations',
 'Data Scientist - Monthly Intern',
 'Vidooly Media Tech',
 'See 10 salaries from all locations',
 'Data Scientist - Monthly Intern',
 'Analytics Vidhya',
 'See 7 salaries from all locations',
 'Data Scientist',
 'Tata Consultancy Services',
 'See 59 salaries from all locations',
 'Data Scientist',
 'Ericsson-Worldwide',
 'See 15 salaries from all locations',
 'Data Scientist',
 'OYO',
 'See 9 salaries from all locations',
 'Data Scientist',
 'Innovaccer',
 'See 7 salaries from all locations',
 'Data Scientist',
 'ZS Associates',
 'See 14 salaries from all locations',
 'Data Scientist',
 'Sprinklr',
 'See 4 salaries from all locations',
 'Data Scientist',
 'dunnhumby',
 'See 6 salaries from all locations',
 'Data Scientist - Monthly Intern',
 'OYO',
 'See 9 salaries from all locations',
 'Data Scientist',
 'Nagarro',
 'See 3 salaries from all locations',
 'Data Scientist',
 'Times Internet',
 'See 3 salaries from all locations',
 'Data Scientist - Monthly Intern',
 'Yatra Online Pvt Ltd',
 'See 3 salaries from all locations',
 'Data Scientist',
 'CARS24.com',
 'See 3 salaries from all locations']

In [129]:
len(company)

60

In [ ]:
#by slicing in the list we will extract the company names from the below list

In [130]:
company=company[1::3]

In [131]:
company=company[0:10]
company

['Delhivery',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Cognizant Technology Solutions',
 'Valiance Solutions',
 'Vidooly Media Tech',
 'Analytics Vidhya',
 'Tata Consultancy Services',
 'Ericsson-Worldwide']

In [132]:
avg=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [133]:
avg[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="c9e841f6-589f-41bf-a20d-b503afcd6223")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="938e56db-37bf-45aa-9556-be9b60fc5915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="8c3158ea-f657-401a-903b-f6161f56f544")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="28ce3176-1e8a-4482-b2d5-86e73c4da292")>]

In [134]:
for i in avg:
    avg_sal.append(i.text)

In [135]:
avg_sal=avg_sal[0:10]
avg_sal

['₹ 13,18,563\n/yr',
 '₹ 11,20,994\n/yr',
 '₹ 7,53,602\n/yr',
 '₹ 13,23,634\n/yr',
 '₹ 9,97,979\n/yr',
 '₹ 7,72,507\n/yr',
 '₹ 12,689\n/mo',
 '₹ 21,215\n/mo',
 '₹ 6,77,498\n/yr',
 '₹ 7,34,456\n/yr']

In [151]:
#first we will fetch the whole tag of min and max salary

In [136]:
sal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")

In [137]:
sal[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="874d7dc2-a14c-4b6a-a962-074d306f84a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="0b418ba5-df3b-414c-83d3-bd8b669f01a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="1380d64f-ac54-41f0-a9ca-50773ba85810")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6423d78fbf4443ca20d9817f488951e5", element="899e5569-e338-487b-8a14-97bf906d92dc")>]

In [138]:
salary=[]

In [139]:
for i in sal:
    salary.append(i.text)

In [ ]:
#this is the list of the combination of min and max salary

In [140]:
salary[0:4]

['₹706K\n₹11,513K', '₹572K\n₹1,300K', '₹581K\n₹2,704K', '₹710K\n₹1,559K']

In [141]:
salary

['₹706K\n₹11,513K',
 '₹572K\n₹1,300K',
 '₹581K\n₹2,704K',
 '₹710K\n₹1,559K',
 '₹785K\n₹1,251K',
 '₹497K\n₹1,140K',
 '₹8K\n₹20K',
 '₹14K\n₹22K',
 '₹480K\n₹1,000K',
 '₹460K\n₹1,598K',
 '₹962K\n₹1,866K',
 '₹615K\n₹1,679K',
 '₹200K\n₹1,792K',
 '₹1,500K\n₹3,206K',
 '₹800K\n₹1,987K',
 '₹30K\n₹45K',
 '₹626K\n₹1,114K',
 '₹1,408K\n₹3,477K',
 '₹11K\n₹16K',
 '₹845K\n₹1,469K']

In [152]:
#now we will split inside the list to differentiate between min and max salary

In [142]:
for i in salary:
    min_sal.append(i.split('\n')[0])

In [143]:
min_sal=min_sal[0:10]
min_sal

['₹706K',
 '₹572K',
 '₹581K',
 '₹710K',
 '₹785K',
 '₹497K',
 '₹8K',
 '₹14K',
 '₹480K',
 '₹460K']

In [144]:
for i in salary:
    max_sal.append(i.split('\n')[1])

In [145]:
max_sal=max_sal[0:10]
max_sal

['₹11,513K',
 '₹1,300K',
 '₹2,704K',
 '₹1,559K',
 '₹1,251K',
 '₹1,140K',
 '₹20K',
 '₹22K',
 '₹1,000K',
 '₹1,598K']

In [146]:
import pandas as pd

In [147]:
df=pd.DataFrame({})

In [148]:
df['Company Name']=company
df['Avg Salary']=avg_sal
df['Maximum Sal']=max_sal
df['Minimum Sal']=min_sal

In [149]:
df

                     Company Name        Avg Salary Maximum Sal Minimum Sal
0                       Delhivery  ₹ 13,18,563\n/yr    ₹11,513K       ₹706K
1                       Accenture  ₹ 11,20,994\n/yr     ₹1,300K       ₹572K
2                             IBM   ₹ 7,53,602\n/yr     ₹2,704K       ₹581K
3              UnitedHealth Group  ₹ 13,23,634\n/yr     ₹1,559K       ₹710K
4  Cognizant Technology Solutions   ₹ 9,97,979\n/yr     ₹1,251K       ₹785K
5              Valiance Solutions   ₹ 7,72,507\n/yr     ₹1,140K       ₹497K
6              Vidooly Media Tech     ₹ 12,689\n/mo        ₹20K         ₹8K
7                Analytics Vidhya     ₹ 21,215\n/mo        ₹22K        ₹14K
8       Tata Consultancy Services   ₹ 6,77,498\n/yr     ₹1,000K       ₹480K
9              Ericsson-Worldwide   ₹ 7,34,456\n/yr     ₹1,598K       ₹460K