# Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

In [53]:
#importing all useful libraries

In [54]:
import selenium
from selenium import webdriver

In [55]:
#getting driver from the required location

In [56]:
driver=webdriver.Chrome(r'D:\G\DATA SCIENCE\chromedriver.exe')

In [57]:
url='https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'

In [58]:
driver.get(url)

In [59]:
title=[]
name=[]
location=[]

In [60]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [61]:
titles[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="1fe61a0b-03f6-4b82-940b-8f7a7d4d1d99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="6104d84f-b509-45b4-af00-fc17b5e80f99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="75dead72-4a5b-4731-b6c7-63202d7d883f")>]

In [62]:
for i in titles:
    title.append(i.text)

In [63]:
title=title[0:10]
title

['Immediate opening For Data Scientist/Data Analyst',
 'Senior Data Scientist',
 'Data Scientist- Computer Vision & Image Processing',
 'Senior Data Scientist- Bangalore/ Chennai',
 'Senior Data Scientist',
 'Sr. Data Scientist',
 'AI Resident - Data Scientist',
 'Data scientist',
 'Lead Data Scientist',
 'Senior Data Scientist For Bangalore']

In [64]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [65]:
loc[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="e9dadb62-51b9-40fb-b895-9a27bf32d4a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="5e3742d0-6b1a-4921-98d4-b3209ce5080e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="745cf325-da45-487b-9390-23f6fd3486a8")>]

In [66]:
for i in loc:
    location.append(i.text)

In [67]:
location=location[0:10]
location

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru(1st Stage Indira Nagar +1)']

In [68]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [69]:
company[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="53f25b21-fcbb-4900-8303-d8bbc94ebfd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="860e336b-c615-4dc5-bea9-9af2d8798d6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="c6dd256f-335c-4f69-a736-760e5dbfa586")>,
 <selenium.webdriver.remote.webelement.WebElement (session="133fdd1f6754af859bac15429055bc4b", element="4877c7df-c7d3-4882-97ac-a6b049cedb66")>]

In [70]:
for i in company:
    name.append(i.text)

In [71]:
name=name[0:10]

In [72]:
name

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Flipkart',
 '24/7 Customer',
 'RANDSTAD INDIA PVT LTD',
 'ORMAE LLP',
 'NetApp',
 'Shell India Markets Private Limited',
 'IBM India Pvt. Limited',
 'Leading Data Science Firm',
 'Kinara Capital']

In [73]:
#desc=[]
#des=driver.find_elements_by_xpath("//section[@class='job=desc']")

In [74]:
#des

In [75]:
#elm=driver.find_element_by_xpath("//a[@class='title fw500 ellipsis']")
#elm

In [76]:
#url_next_page=elm.get_attribute("href")
#driver.get(url_next_page)
#desc=[]
#des=driver.find_elements_by_xpath("//section[@class='job=desc']")
#des

[]

In [77]:
import pandas as pd

In [78]:
df=pd.DataFrame({})

In [79]:
df['Company Name']=name
df['Title']=title
df['Location']=location
df

,Company Name,Title,Location
0,CAIA-Center For Artificial Intelligence & Adva...,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad"
1,Flipkart,Senior Data Scientist,Bengaluru
2,24/7 Customer,Data Scientist- Computer Vision & Image Proces...,Bengaluru
3,RANDSTAD INDIA PVT LTD,Senior Data Scientist- Bangalore/ Chennai,"Chennai, Bengaluru"
4,ORMAE LLP,Senior Data Scientist,Bengaluru
5,NetApp,Sr. Data Scientist,Bengaluru
6,Shell India Markets Private Limited,AI Resident - Data Scientist,Bengaluru
7,IBM India Pvt. Limited,Data scientist,Bengaluru
8,Leading Data Science Firm,Lead Data Scientist,"Chennai, Mumbai, Bengaluru, Hyderabad"
9,Kinara Capital,Senior Data Scientist For Bangalore,Bengaluru(1st Stage Indira Nagar +1)