# Write a python program to scrape ‘data scientist’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages

In [3]:
import selenium
from selenium import webdriver

In [4]:
driver=webdriver.Chrome(r'G:\DATA SCIENCE\chromedriver.exe')

In [5]:
url='https://www.monsterindia.com/srp/results?query=Data%20Scientist&searchId=fb602204-3957-4db9-acc4-a5c2a145bdb0'

In [6]:
driver.get(url)

In [7]:
titles=[]

In [30]:
title=driver.find_elements_by_xpath("//h3[@class='medium']")

In [31]:
title[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ea2e6ed8b7559836c913a05ea39117e8", element="a5e998d6-0e02-4f8e-ae15-80b3fc3856dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ea2e6ed8b7559836c913a05ea39117e8", element="dd695971-0769-44ca-9087-7f558873d984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ea2e6ed8b7559836c913a05ea39117e8", element="a8939ee6-6ed6-4bd2-a46c-fa3443c5a29e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ea2e6ed8b7559836c913a05ea39117e8", element="6ef3c2dd-05ac-495a-a75f-0bec153f6478")>]

In [32]:
len(title)

25

In [33]:
for i in title:
    titles.append(i.text)

In [34]:
len(titles)

125

In [35]:
#below is the scrapped data from monsterindia.com website for software devlopment profile

In [36]:
import pandas as pd

In [37]:
df=pd.DataFrame({})

In [38]:
df['JOB TITLES']=titles

In [39]:
df

                                            JOB TITLES
0                                       Data Scientist
1    Job | Urgent Opening for NLP- Data scientist_C...
2                                       Data Scientist
3                                  Lead Data Scientist
4                                       Data Scientist
..                                                 ...
120                                     Data Scientist
121                               Developer Analyst II
122                                     Data Scientist
123                    Principal Data Science Engineer
124                                     Data Scientist

[125 rows x 1 columns]