# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [95]:
#importing the required libraries

In [96]:
import selenium
from selenium import webdriver

In [97]:
driver=webdriver.Chrome(r'G:\DATA SCIENCE\chromedriver.exe')

In [98]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [99]:
driver.get(url)

In [100]:
titles=[]

In [101]:
#fetching the titles tag from the url

In [102]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [103]:
title[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="da622df8-3ce4-4048-93f9-d0eb2b2ca4ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="513b534b-1ee8-4b71-8ce3-0c55340d00d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="8700654e-d5c5-474e-8882-f0cfb80c54d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="a1d9f6b3-e9d8-4e97-84ae-d747f3d2cf1e")>]

In [104]:
#fetching the text from the above data

In [105]:
for i in title:
    titles.append(i.text)

In [106]:
titles

['Immediate opening For Data Scientist/Data Analyst',
 'Senior Data Analyst',
 'Senior Sourcing Data Analyst - Coupa/ERP/Jaggaer',
 'Data Analyst',
 'Data Analyst / Business Analyst',
 'Hiring For Data Analyst RE) - Bangalore',
 'Data Analyst, Pricing',
 'Data Analyst',
 'Manager Data Analyst - Brand Accelerator',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst and Dashboard Developer',
 'Data Analyst',
 'Business Analyst/Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst',
 'Data Analyst',
 'Senior Data Analyst - Python/sql/mysql',
 'Senior Clinical Data Analyst',
 'Clinical Data Analyst']

In [107]:
#now we will be fetching the company details

In [108]:
company=[]

In [109]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [110]:
companies[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="02ace622-d5ba-44b2-981e-a3ea43c932a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="d159d2d1-6eac-4436-aaaf-c666ee625754")>]

In [111]:
for i in companies:
    company.append(i.text)

In [112]:
company

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Myntra Designs Pvt. Ltd.',
 'Technicolor',
 'Ladder of changes',
 'Altisource Business Solutions Pvt Ltd',
 'Teleperformance Global Services Pvt Ltd',
 'Zscaler, Inc.',
 'OMEGA SEIKI',
 'Myntra Designs Pvt. Ltd.',
 'Snaphunt',
 'Simplify360',
 'QualiTest Group',
 'Liventus, Inc.',
 'dotSolved India Pvt., Ltd.',
 'Kaplan',
 'Kaplan Test Prep',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Serving Skill',
 'Navitas life science',
 'Navitas life science']

In [113]:
#now we will fetch the experience required

In [114]:
exp=[]

In [115]:
ex=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")

In [116]:
ex[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="a344373e-2649-466f-ac8c-23ae66b749a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="74412954-ee6a-4350-a9c2-2ffefca142b2")>]

In [117]:
for i in ex:
    exp.append(i.text)

In [118]:
exp[0:5]

['0-3 Yrs',
 '3,50,000 - 4,50,000 PA.',
 'Chennai, Pune, Bengaluru, Hyderabad',
 '2-7 Yrs',
 'Not disclosed']

In [119]:
exp

['0-3 Yrs',
 '3,50,000 - 4,50,000 PA.',
 'Chennai, Pune, Bengaluru, Hyderabad',
 '2-7 Yrs',
 'Not disclosed',
 'Bengaluru',
 '3-10 Yrs',
 'Not disclosed',
 'Bengaluru',
 '0-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '1-6 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-6 Yrs',
 '3,00,000 - 5,00,000 PA.',
 'Bengaluru(Bellandur)',
 '3-6 Yrs',
 'Not disclosed',
 'Pune, Bengaluru, Chandigarh',
 '0-5 Yrs',
 '3,00,000 - 8,00,000 PA.',
 'Chennai, Pune, Delhi NCR, Mumbai, Ahmedabad, Bengaluru, Surat, Hyderabad, Kolkata',
 '2-7 Yrs',
 'Not disclosed',
 'Bengaluru',
 '3-5 Yrs',
 '4,00,000 - 7,00,000 PA.',
 'Bengaluru',
 '4-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '3-6 Yrs',
 '6,00,000 - 10,00,000 PA.',
 'Bengaluru(2nd Phase JP Nagar)',
 '8-13 Yrs',
 '6,00,000 - 12,00,000 PA.',
 'Chennai, Delhi NCR, Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '7-10 Yrs',
 'Not disclosed',
 'Chennai, Mumbai, Bengaluru',
 '6-9 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Chennai, Bengaluru',
 '1-4 Yrs',
 'Not disclosed',
 'Chennai, Bengaluru']

In [120]:
exp=exp[0::3]

In [121]:
exp

['0-3 Yrs',
 '2-7 Yrs',
 '3-10 Yrs',
 '0-5 Yrs',
 '1-6 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '0-5 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '4-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '8-13 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '7-10 Yrs',
 '6-9 Yrs',
 '2-5 Yrs',
 '1-4 Yrs']

In [122]:
#now we will be fetching the job location

In [123]:
location=[]

In [124]:
place=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [125]:
place[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="4b430358-aff9-4b5a-a3dc-787538b8c950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="0daccb29-d231-4639-9663-eca835f69587")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ceeadf8b03ab6c34473f49a416836f7b", element="e78fa0fc-4426-4e26-844b-490d5144a2b5")>]

In [126]:
for i in place:
    location.append(i.text)

In [127]:
location[0:5]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [128]:
type(location)

list

In [129]:
location

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(Bellandur)',
 'Pune, Bengaluru, Chandigarh',
 'Chennai, Pune, Delhi NCR, Mumbai, Ahmedabad, Bengaluru, Surat, Hyderabad, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(2nd Phase JP Nagar)',
 'Chennai, Delhi NCR, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Mumbai, Bengaluru',
 'Bengaluru',
 'Chennai, Bengaluru',
 'Chennai, Bengaluru']

In [130]:
#now we will save the results in a data frame

In [131]:
import pandas as pd

In [132]:
df=pd.DataFrame({})

In [133]:
df['company name']=company[0:10]
df['job title']=titles[0:10]
df['Experience Required']=exp[0:10]
df['Job Location']=location[0:10]

In [134]:
df

,company name,job title,Experience Required,Job Location
0,CAIA-Center For Artificial Intelligence & Adva...,Immediate opening For Data Scientist/Data Analyst,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
1,Myntra Designs Pvt. Ltd.,Senior Data Analyst,2-7 Yrs,Bengaluru
2,Technicolor,Senior Sourcing Data Analyst - Coupa/ERP/Jaggaer,3-10 Yrs,Bengaluru
3,Ladder of changes,Data Analyst,0-5 Yrs,Bengaluru
4,Altisource Business Solutions Pvt Ltd,Data Analyst / Business Analyst,1-6 Yrs,Bengaluru
5,Teleperformance Global Services Pvt Ltd,Hiring For Data Analyst RE) - Bangalore,2-6 Yrs,Bengaluru(Bellandur)
6,"Zscaler, Inc.","Data Analyst, Pricing",3-6 Yrs,"Pune, Bengaluru, Chandigarh"
7,OMEGA SEIKI,Data Analyst,0-5 Yrs,"Chennai, Pune, Delhi NCR, Mumbai, Ahmedabad, B..."
8,Myntra Designs Pvt. Ltd.,Manager Data Analyst - Brand Accelerator,2-7 Yrs,Bengaluru
9,Snaphunt,Data Analyst,3-5 Yrs,Bengaluru