# Write a python program to scrape data for “Data Scientist” Job position in “Delhi-NCR” location and salary between 3-6L. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

In [200]:
#importing all useful libraries

In [201]:
import selenium
from selenium import webdriver

In [202]:
#getting driver from the required location

In [203]:
driver=webdriver.Chrome(r'G:\DATA SCIENCE\chromedriver.exe')

In [204]:
url='https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&cityType=25.9.31&ctcFilter=3to6'

In [205]:
#my driver will fetch the url

In [206]:
driver.get(url)

In [207]:
titles=[]

In [208]:
#fetching the titles tag from the url

In [209]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [210]:
title[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="4f75d001-2295-4e8f-8ede-a497f9216da1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="34ff2f90-f04e-476a-83ce-0fd9178ad3b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="f4b0a5aa-ef49-4975-a4bd-ea7a308e07d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="9f786100-c653-4c69-aafe-3cd2cc26f0d6")>]

In [211]:
#fetching the text from the above data

In [212]:
for i in title:
    titles.append(i.text)

In [213]:
titles

['Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC',
 'Data scientist opening',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC',
 'Data Analyst / Data Scientist | Delhi / Noida / Gurgaon',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist/Analyst - Machine Learning/Deep Learning',
 'Data Scientist - NLP/ML/Python',
 'Data Scientist - NLP/ML/Python',
 'Data Scientist / Data Analyst',
 'Data Analyst/ Data Scientist',
 'Urgent hiring of a Principal Data Scientist, SGT University',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Business Analyst - Data Scientist',
 'Analyst - Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Only Fresher / Data Scientist / Python/ Tableau/ Data Analyst - MNC']

In [214]:
#now we will be fetching the company details

In [215]:
company=[]

In [216]:
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [217]:
companies[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="7b23b588-a9c6-4a22-a0ff-e30d241535de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="086253c3-03e6-4413-a7bc-151827adbf06")>]

In [218]:
for i in companies:
    company.append(i.text)

In [219]:
company

['GABA Consultancy services',
 'Ojas Innovative Technologies Private Limited',
 'GABA Consultancy services',
 'Freelancer Anubhav Sharma',
 'AlgoScale Technologies Private Limited',
 'GLOBALLOGIC TECHNOLOGIES PRIVATE LIMITED',
 'EchoIndia',
 'Elixir Web Solutions',
 'Elixir Web Solutions',
 'CARS24',
 'SEABIRD LOGISOLUTIONS LIMITED',
 'SGT University (Part of Dashmesh Educational Charitable Trust )',
 'Think bridge Software Pvt. Ltd.',
 'Delhivery',
 'HyreFox Consultants Pvt Ltd',
 'HyreFox Consultants Pvt Ltd',
 'iNICU',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'GABA Consultancy services']

In [220]:
#now we will be fetching the job location

In [221]:
location=[]

In [222]:
place=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [223]:
place[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="571a7f4e-34b2-4952-b17c-635f1b375b78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="3781b53e-a8d3-4526-81cb-757a0fd90bbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="29f2d8da-a0e8-44bc-822a-0faf9521a803")>]

In [224]:
for i in place:
    location.append(i.text)

In [225]:
location

['Delhi NCR, Ghaziabad, Gurgaon',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Faridabad, Delhi NCR, Greater Noida',
 'Delhi NCR',
 'Noida',
 'Noida',
 'Delhi',
 'Gurgaon Gurugram',
 'Gurgaon Gurugram',
 'Gurgaon Gurugram',
 'Delhi NCR(Jasola)',
 'Delhi NCR, Delhi',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Gurgaon',
 'Gurgaon',
 'Gurgaon',
 'Delhi',
 'Delhi',
 'Delhi',
 'Faridabad, Delhi NCR, Gurgaon']

In [226]:
#now we will fetch the experience required

In [227]:
exp=[]

In [228]:
ex=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")

In [229]:
ex[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="2d380e4b-1d1f-4372-b8af-407e1ad954eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="698ddc16-6011-4533-ae23-d13021670539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cd84623f957c11f38d1bb7658ba5e199", element="b909c535-18b6-4bc3-b4b9-84bc14f299f9")>]

In [230]:
for i in ex:
    exp.append(i.text)

In [231]:
exp[0:5]

['0-0 Yrs',
 '2,25,000 - 4,75,000 PA.',
 'Delhi NCR, Ghaziabad, Gurgaon',
 '6-7 Yrs',
 'Not disclosed']

In [232]:
exp

['0-0 Yrs',
 '2,25,000 - 4,75,000 PA.',
 'Delhi NCR, Ghaziabad, Gurgaon',
 '6-7 Yrs',
 'Not disclosed',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 '0-0 Yrs',
 '2,25,000 - 4,75,000 PA.',
 'Faridabad, Delhi NCR, Greater Noida',
 '0-3 Yrs',
 '3,50,000 - 5,50,000 PA.',
 'Delhi NCR',
 '1-5 Yrs',
 'Not disclosed',
 'Noida',
 '3-8 Yrs',
 'Not disclosed',
 'Noida',
 '3-6 Yrs',
 'Not disclosed',
 'Delhi',
 '4-8 Yrs',
 'Not disclosed',
 'Gurgaon Gurugram',
 '4-8 Yrs',
 'Not disclosed',
 'Gurgaon Gurugram',
 '1-5 Yrs',
 'Not disclosed',
 'Gurgaon Gurugram',
 '2-5 Yrs',
 '2,75,000 - 3,25,000 PA.',
 'Delhi NCR(Jasola)',
 '0-3 Yrs',
 'Not disclosed',
 'Delhi NCR, Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 '1-3 Yrs',
 'Not disclosed',
 'Gurgaon',
 '3-5 Yrs',
 'Not disclosed',
 'Gurgaon',
 '1-3 Yrs',
 'Not disclosed',
 'Gurgaon',
 '1-5 Yrs',
 'Not disclosed',
 'Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '2-6 Yrs',
 'Not disclosed',
 'Delhi',
 '0-0 Yrs',
 '2,25,000 - 4,75,000 PA.',
 'Faridabad, Delhi NCR, Gurgaon']

In [233]:
exp=exp[0::3]

In [234]:
exp

['0-0 Yrs',
 '6-7 Yrs',
 '0-0 Yrs',
 '0-3 Yrs',
 '1-5 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '1-5 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '0-0 Yrs']

In [235]:
#now we will save the results in a data frame

In [236]:
import pandas as pd

In [237]:
df=pd.DataFrame({})

In [238]:
df['company name']=company[0:10]
df['job title']=titles[0:10]
df['Experience Required']=exp[0:10]
df['Job Location']=location[0:10]

In [239]:
df

,company name,job title,Experience Required,Job Location
0,GABA Consultancy services,Only Fresher / Data Scientist / Data Analyst /...,0-0 Yrs,"Delhi NCR, Ghaziabad, Gurgaon"
1,Ojas Innovative Technologies Private Limited,Data scientist opening,6-7 Yrs,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."
2,GABA Consultancy services,Only Fresher / Data Scientist / Data Analyst /...,0-0 Yrs,"Faridabad, Delhi NCR, Greater Noida"
3,Freelancer Anubhav Sharma,Data Analyst / Data Scientist | Delhi / Noida ...,0-3 Yrs,Delhi NCR
4,AlgoScale Technologies Private Limited,Data Scientist,1-5 Yrs,Noida
5,GLOBALLOGIC TECHNOLOGIES PRIVATE LIMITED,Data Scientist,3-8 Yrs,Noida
6,EchoIndia,Data Scientist/Analyst - Machine Learning/Deep...,3-6 Yrs,Delhi
7,Elixir Web Solutions,Data Scientist - NLP/ML/Python,4-8 Yrs,Gurgaon Gurugram
8,Elixir Web Solutions,Data Scientist - NLP/ML/Python,4-8 Yrs,Gurgaon Gurugram
9,CARS24,Data Scientist / Data Analyst,1-5 Yrs,Gurgaon Gurugram