Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [24]:
#importing all the useful libraries

In [25]:
import selenium
from selenium import webdriver

In [26]:
driver=webdriver.Chrome(r'D:\G\DATA SCIENCE\chromedriver.exe')

In [27]:
url='https://www.flipkart.com/search?q=sneakers+for+men&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers+for+men%7CMen%27s+Casual+Shoes&requestId=bcb5d14d-6cfa-4f8f-bb7b-91190489d1de&as-backfill=on'

In [28]:
driver.get(url)

In [29]:
brand=[]
desc=[]
price=[]
disc=[]

In [30]:
brands=driver.find_elements_by_xpath("//div[@class='_2B_pmu']")

In [31]:
brands[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="2f2eedbd-93f6-4921-b0d8-0698175394ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="c6d1d109-8f9e-4c55-93f9-0e1b7d2198ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="b3a2da21-b1c2-4e31-96f4-16e7ad3acb1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="df7c1069-ef24-46d3-af77-590b52737483")>]

In [32]:
for i in brands:
    brand.append(i.text)

In [52]:
brand=brand[0:34]

In [34]:
des=driver.find_elements_by_xpath("//a[@class='_2mylT6']")

In [35]:
des[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="534192e1-4017-480a-8384-7ac658564f69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="73b6bc37-a411-44aa-bc2b-b0626e6737f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="97ed70ae-6d8a-403f-b38c-e09fd83676d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="68f78e6a8d965e519bf8ae688c60ec80", element="68e48b63-e219-4f96-9617-64b8422d1178")>]

In [36]:
for i in des:
    desc.append(i.text)

In [50]:
desc[0:4]

34

In [38]:
cost=driver.find_elements_by_xpath("//div[@class='_1vC4OE']")

In [39]:
for i in cost:
    price.append(i.text)

In [51]:
price=price[0:34]

In [41]:
dis=driver.find_elements_by_xpath("//div[@class='VGWI6T']")

In [42]:
for i in dis:
    disc.append(i.text)

In [53]:
disc=disc[0:34]

In [54]:
import pandas as pd

In [55]:
df=pd.DataFrame({})

In [56]:
print(len(brand),len(desc),len(price),len(disc))

34 34 34 34

In [57]:
df['Brand']=brand
df['Description']=desc
df['Price']=price
df['Discount']=disc

In [58]:
df

,Brand,Description,Price,Discount
0,Nike,SB Charge Canvas Sneakers For Men,"₹2,697",40% off
1,DIGITRENDZZ,Sneakers For Men,₹379,62% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,76% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
4,Chevit,Chevit Latest Fashion Combo Pack of 2 Pairs Ca...,₹525,64% off
5,Hotstyle,Sneakers For Men,₹240,51% off
6,Chevit,170 Smart Grey Lace-Ups Casuals for Men Sneake...,₹236,52% off
7,Red Tape,"Casual , Partywear Sneakers Shoes For Men's An...","₹1,023",75% off
8,D-SNEAKERZ,Sneakers For Men,₹370,43% off
9,Robbie jones,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹405,59% off
10,Chevit,Lazy Knit Slip On IDP Sneakers For Men,₹236,52% off
11,Puma,Combo Pack of 2 Casual Shoes Sneakers For Men,"₹1,499",50% off
12,Birde,Sneakers For Men,₹509,49% off
13,Stefano Rads,Casuals For Men,₹224,85% off
14,Next INN,Sneakers for men(black_8) Sneakers For Men,₹378,62% off
15,RICHERSON,Smash v2 CV Sneakers For Men,₹459,54% off
16,Essence,Sneakers For Men,₹374,62% off
17,Creer,Combo Pack of 5 Casual Sneakers With Sneakers ...,₹402,59% off
18,Believe,Sneakers For Men,₹399,60% off
19,Puma,White Sneaker For Men's/Boy's Sneakers For Men,"₹1,749",50% off
20,Essence,Sneakers For Men,₹374,62% off
21,BRUTON,SM-439 Sneakers For Men,₹699,82% off
22,Robbie jones,ATLANTA NEO Sneakers For Men,₹379,62% off
23,BAGRIN,5011-Latest Collection Stylish Casual Loafer S...,₹319,70% off
24,Shoes Bank,White Sneakers Sneakers For Men,₹331,66% off
25,Aadi,Combo Pack of 4 Latest Collection Stylish Casu...,₹299,70% off
26,Sparx,Ebernon Low Sneakers For Men,₹595,14% off
27,Lotto,169 Smart Sky Blue Lace-Ups Casuals for Men Sn...,₹799,60% off
28,World Wear Footwear,Mesh Casual Stylish Partywear Casaul Shoes For...,₹228,54% off
29,Magnolia,Sneakers For Men,₹311,68% off
30,World Wear Footwear,Combo Pack of 3 Casual Shoes Sneakers For Men,₹499,75% off
31,Nike,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,"₹2,877",40% off
32,Chevit,jeans shoes for men Sneakers For Men,₹236,52% off
33,T-ROCK,New Trendy Sneakers For Men,₹349,65% off