In [3]:
import selenium
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from datetime import date
from datetime import datetime
import time

In [4]:
driver=webdriver.Chrome(r"E:\DATA SCIENCE\chromedriver.exe")

In [5]:
driver.get('https://in.indeed.com/jobs?q=Business+Analyst&l=Mumbai,+Maharashtra&radius=0')

In [6]:
dt=[]
time=[]
titles=[]
companies=[]
locations=[]
Hir=[]
links =[]
ratings=[]
salaries = []
descriptions=[]

In [7]:
pages=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190]

In [8]:
summary=[]

In [9]:
for i in pages:
    page = requests.get('https://in.indeed.com/jobs?q=Business+Analyst&l=Mumbai%2C+Maharashtra&radius=0&start={}'.format(i)).text
    soup = BeautifulSoup(page, 'html.parser')
    Summary = soup.find_all('div', class_='summary')
    for i in Summary:
        summary.append(i.text.strip())

In [10]:
len(summary)

275

In [11]:
for i in range(0,19):
    
    jobs = driver.find_elements_by_xpath('//div[contains(@class,"clickcard")]')
    
    for job in jobs:
       
        now=datetime.now()
        time.append(now.strftime("%H:%M:%S"))
        today=datetime.today()
        dt.append(today.strftime("%y-%m-%d"))
        try:
            rating = job.find_element_by_xpath('.//span[@class="ratingsContent"]').text
        except:
            rating = "None"
        ratings.append(rating)
 
        try:
            salary = job.find_element_by_xpath('.//span[@class="salaryText"]').text
        except:
            salary = "None"
      
        salaries.append(salary)
        
        try:
            hir=job.find_element_by_xpath('.//td[@class="jobCardShelfItem urgentlyHiring"]').text
        except:
            hir="none"
            
        Hir.append(hir)
        
        try:
            location = job.find_element_by_xpath('.//span[contains(@class,"location")]').text
        except:
            location = "None"
        
        locations.append(location)
        
        try:
            title  = job.find_element_by_xpath('.//h2[@class="title"]//a').text
        except:
            title = job.find_element_by_xpath('.//h2[@class="title"]//a').get_attribute(name="title")
        titles.append(title)
        links.append(job.find_element_by_xpath('.//h2[@class="title"]//a').get_attribute(name="href"))
        companies.append(job.find_element_by_xpath('.//span[@class="company"]').text)
        
    
    try:
        next_page = driver.find_element_by_xpath('//a[@aria-label={}]//span[@class="pn"]'.format(i+2))
        next_page.click()

    except:
        next_page = driver.find_element_by_xpath('//a[@aria-label="Next"]//span[@class="np"]')
        next_page.click()
        
    
    print("Page: {}".format(str(i+2)))

Page: 2
Page: 3
Page: 4
Page: 5
Page: 6
Page: 7
Page: 8
Page: 9
Page: 10
Page: 11
Page: 12
Page: 13
Page: 14
Page: 15
Page: 16
Page: 17
Page: 18
Page: 19
Page: 20

In [21]:
len(titles)

275

In [22]:
len(companies)

275

In [23]:
len(ratings)

275

In [24]:
len(Hir)

275

In [25]:
len(dt)

275

In [26]:
len(time)

275

In [27]:
len(links)

275

In [28]:
len(locations)

275

In [29]:
len(salaries)

275

In [30]:
import pandas as pd

In [31]:
df=pd.DataFrame({})

In [33]:
df['Titles']=titles
df['Companies']=companies
df['Locations']=locations
df['Links']=links
df['Ratings']=ratings
df['Salaries']=salaries
df['Descriptions']=summary
df['Urgent Hiring']=Hir
df["time"]=time
df["date"]=dt

In [34]:
df

,Titles,Companies,Locations,Links,Ratings,Salaries,Descriptions,Urgent Hiring,time,date
0,Business Analyst,Mirum Digital Pvt. Ltd.,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=7fedabcef27ecf...,None,"â‚¹7,00,000 a year",Effective project management and multi-assignm...,none,20:50:31,21-01-11
1,Business Analyst - Strategy Office,Avanse Financial Services Private Limited,None,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,None,None,"As a business analyst, you will be a leading c...",none,20:50:31,21-01-11
2,Analyst - Business Consulting Risk - TMT - Ris...,Ernst & Young,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=8d97437977fb02...,4.0,None,Business analyst: 2 years (Preferred).\nTransl...,none,20:50:31,21-01-11
3,Newgen Software Technologies - Business Analyst,Newgen Software Technologies,"Mumbai, Maharashtra",https://in.indeed.com/company/Newgen-Software-...,3.5,None,Understanding the use cases and process detail...,none,20:50:32,21-01-11
4,Business Analyst,Datamatics,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=2dd3f14eee66e6...,3.5,None,This structure encourages legal teams and busi...,none,20:50:32,21-01-11
...,...,...,...,...,...,...,...,...,...,...
270,Business Analyst I,"JPMorgan Chase Bank, N.A.","Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=c72f8910eece0d...,3.9,None,5-10yrs Business Analyst /Data Analyst with ex...,none,20:51:19,21-01-11
271,Business Analyst,Morningstar,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=24dabee9aad56b...,3.9,None,Every day FedEx delivers for its customers wit...,none,20:51:19,21-01-11
272,Business Analyst - Speech Analytics,Sitel,"Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=dbf3cd77cac827...,3.5,None,Experienced in understanding the business need...,none,20:51:19,21-01-11
273,Business Analyst | 2 - 5 years | Thane,Applied Cloud Computing Pvt. Ltd.,"Mumbai, Maharashtra",https://in.indeed.com/company/Applied-Cloud-Co...,None,"â‚¹2,50,000 a year","Must have Skills : Individual Life Insurance, ...",Urgently hiring,20:51:20,21-01-11
274,Business Data Analyst / Business Systems Analyst,"JPMorgan Chase Bank, N.A.","Mumbai, Maharashtra",https://in.indeed.com/rc/clk?jk=de3b5c23bb95f4...,3.9,None,"Must have Skills : Individual Life Insurance, ...",none,20:51:20,21-01-11

In [35]:
df.to_csv('indeed_BA_project3.csv')